.postCardContainer {
  position: relative;
  padding: 25px 0;
  background: rgba(0,0,0,.2);
  max-width: 90%;
  margin: 10px auto;
  border-radius: 15px;
}

.userPic {
  max-width: 10em;
  max-height: 10em;
  transform: translateX(-25%);
  align-self: center;
}

.userName {
  position: absolute;
  left: 20px;
  top: 5px;
  margin: 0
}

.createdAt {
  position: absolute;
  right: 20px;
  top: 5px;
  margin: 0
}

.likes {
  position: absolute;
  right: 20px;
  bottom: 8px;
  margin: 0
}

.replied {
  max-width: 10em;
  max-height: 10em;
  transform: translateX(50%);
  background: rgba(0,0,0,.8);
  color: white;
  border-radius: 1em;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;

}

.repliedDetail {
  margin: 0;
}

.userInfo {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.userInfoPic {
  width: 10em;
  height: 10em;
}

.userInfoName {
  max-width: 10em;
  text-align: center;
  font-weight: bold;
  margin: 15px 0 0 0;
}

.ck-editor__editable_inline {
  min-height: 150px;
}

.addButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  color: blue;
  font-size: 2.8rem;
  cursor: pointer;
  transition: .3s;
}

.addButton:hover {
  color: darkblue;
  transition: .3s;
}

.loginForm {
  background: rgba(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) { 
  .loginContainer {
    width: 40%;
  }
}

@media (max-width: 992px) { 
  .loginContainer {
    width: 70%;
  }
}

@media (max-width: 768px) { 
  .loginContainer {
    width: 70%;
  }
  .loginImage {
    display: none;
  }
  .loginForm {
    height: 35vh;
  }
}

@media (max-width: 576px) { 
  .loginContainer {
    width: 80%;
  }
}